# This file is named with .sample to avoid being ignored by .gitignore (which ignores passwords.txt),
# allowing you to see the required format.
# To use this, please rename (or copy) this file to 'passwords.txt'.
#
# Add one password per line
# These passwords will be used to attempt decryption of encrypted Excel files
password
123456
admin
test
